<div class="movie-container">
  <div class="movie-row">
    <mat-card *ngFor="let movie of movies;" class="custom-card">
      <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImagePath}} alt={{movie.Title}} />
      <mat-card-actions>
        <a href="#" (click)="$event.preventDefault(); openDetailsDialog('genre', movie)" class="card-link">Genre</a>
        <a href="#" (click)="$event.preventDefault(); openDetailsDialog('director', movie)"
          class="card-link">Director</a>
        <a href="#" (click)="$event.preventDefault(); openDetailsDialog('synopsis', movie)"
          class="card-link">Synopsis</a>
        <mat-icon (click)="toggleFavorite(movie)" [style.color]="isFavorite(movie) ? '#e50914' : 'white'">
          favorite
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
